<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shop</display-name>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>zhan.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserLoginPrivilegeFilter</filter-name>
    <filter-class>zhan.web.filter.UserLoginPrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginPrivilegeFilter</filter-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-name>MyOrderServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>zhan.web.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>zhan.web.servlet.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/yzm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>zhan.web.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>zhan.web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>zhan.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>zhan.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>zhan.web.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>zhan.web.servlet.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>zhan.web.servlet.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemToCartServlet</display-name>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <servlet-class>zhan.web.servlet.AddItemToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemToCartServlet</servlet-name>
    <url-pattern>/addItemToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCartServlet</display-name>
    <servlet-name>ClearCartServlet</servlet-name>
    <servlet-class>zhan.web.servlet.ClearCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCartServlet</servlet-name>
    <url-pattern>/clearCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelProFromCartServlet</display-name>
    <servlet-name>DelProFromCartServlet</servlet-name>
    <servlet-class>zhan.web.servlet.DelProFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelProFromCartServlet</servlet-name>
    <url-pattern>/delProFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrderServlet</display-name>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <servlet-class>zhan.web.servlet.SubmitOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderServlet</servlet-name>
    <url-pattern>/submitOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmOrderServlet</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>zhan.web.servlet.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/confirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CallbackServlet</display-name>
    <servlet-name>CallbackServlet</servlet-name>
    <servlet-class>zhan.web.servlet.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallbackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyOrderServlet</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>zhan.web.servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/myOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>zhan.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsListAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.GoodsListAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsListAdminServlet</servlet-name>
    <url-pattern>/goodsListAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGoodAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.DeleteGoodAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodAdminServlet</servlet-name>
    <url-pattern>/delGoodAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGoodAdminUIServlet</servlet-name>
    <servlet-class>zhan.web.servlet.AddGoodAdminUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodAdminUIServlet</servlet-name>
    <url-pattern>/addGoodAdminUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGoodAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.AddGoodAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodAdminServlet</servlet-name>
    <url-pattern>/addGoodAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGoodAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.UpdateGoodAdminUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGoodAdminServlet</servlet-name>
    <url-pattern>/updateGoodAdminUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatGoodAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.UpdatGoodAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatGoodAdminServlet</servlet-name>
    <url-pattern>/updateGoodAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryListAdminServlet</display-name>
    <servlet-name>CategoryListAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.CategoryListAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListAdminServlet</servlet-name>
    <url-pattern>/categoryListAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCategoryAdminServlet</display-name>
    <servlet-name>DelCategoryAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.DelCategoryAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCategoryAdminServlet</servlet-name>
    <url-pattern>/delCategoryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryAdminServlet</display-name>
    <servlet-name>AddCategoryAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.AddCategoryAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryAdminServlet</servlet-name>
    <url-pattern>/addCategoryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryAdminUIServlet</display-name>
    <servlet-name>UpdateCategoryAdminUIServlet</servlet-name>
    <servlet-class>zhan.web.servlet.UpdateCategoryAdminUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryAdminUIServlet</servlet-name>
    <url-pattern>/updateCategoryAdminUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryAdminServlet</display-name>
    <servlet-name>UpdateCategoryAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.UpdateCategoryAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryAdminServlet</servlet-name>
    <url-pattern>/updateCategoryAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersListAdminServlet</display-name>
    <servlet-name>OrdersListAdminServlet</servlet-name>
    <servlet-class>zhan.web.servlet.OrdersListAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersListAdminServlet</servlet-name>
    <url-pattern>/ordersListAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOrderInfoByOidServlet</display-name>
    <servlet-name>FindOrderInfoByOidServlet</servlet-name>
    <servlet-class>zhan.web.servlet.FindOrderInfoByOidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOrderInfoByOidServlet</servlet-name>
    <url-pattern>/findOrderInfoByOid</url-pattern>
  </servlet-mapping>
</web-app>